In [1]:
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('data/android-games.csv')
df

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,1,Garena Free Fire - The Cobra,80678661,500.0 M,4.33,2.9,7.9,0.0,GAME ACTION,61935712,4478738,2795172,1814999,9654037,False
1,2,PUBG MOBILE: Graffiti Prank,35971961,100.0 M,4.24,2.0,3.1,0.0,GAME ACTION,26670566,2109631,1352610,893674,4945478,False
2,3,Mobile Legends: Bang Bang,25836869,100.0 M,4.08,1.6,3.3,0.0,GAME ACTION,17850942,1796761,1066095,725429,4397640,False
3,4,Brawl Stars,17181659,100.0 M,4.27,4.1,6.6,0.0,GAME ACTION,12493668,1474319,741410,383478,2088781,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14237554,100.0 M,4.33,0.8,1.8,0.0,GAME ACTION,9657878,2124544,1034025,375159,1045945,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,Piknik Słowo - Word Snack,122845,1.0 M,4.67,0.1,0.3,0.0,GAME WORD,96954,17233,5098,1249,2309,False
1726,97,Wordox – Free multiplayer word game,120476,1.0 M,4.21,0.0,0.1,0.0,GAME WORD,74010,21546,10648,4710,9560,False
1727,98,4 Fotos 1 Palavra,114852,5.0 M,4.52,0.3,0.6,0.0,GAME WORD,84688,16783,6619,1867,4892,False
1728,99,زوايا - لعبة ستحرك زوايا عقلك,110293,1.0 M,4.76,0.8,1.9,0.0,GAME WORD,99168,3528,3258,1059,3278,False
1729,100,Word Life - Connect crosswords puzzle,109809,5.0 M,4.38,6.9,14.2,0.0,GAME WORD,70647,22630,8794,2775,4961,False

missing value, Dtype

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              1730 non-null   int64
 1   title             1730 non-null   object
 2   total ratings     1730 non-null   int64
 3   installs          1730 non-null   object
 4   average rating    1730 non-null   float64
 5   growth (30 days)  1730 non-null   float64
 6   growth (60 days)  1730 non-null   float64
 7   price             1730 non-null   float64
 8   category          1730 non-null   object
 9   5 star ratings    1730 non-null   int64
 10  4 star ratings    1730 non-null   int64
 11  3 star ratings    1730 non-null   int64
 12  2 star ratings    1730 non-null   int64
 13  1 star ratings    1730 non-null   int64
 14  paid              1730 non-null   bool
dtypes: bool(1), float64(4), int64(7), object(3)
memory usage: 191.0+ KB

In [12]:
df[["title","average rating"]].sort_values(by="average rating", ascending=False)

                                                  title  average rating
741                                超級單字王 - 英檢、多益、托福 輕鬆學            4.91
956                                     Indy Cat for VK            4.87
813                Английский для Начинающих: LinDuo HD            4.82
575                Free Slot Machines with Bonus Games!            4.82
1658                     Word Collect - Free Word Games            4.82
...                                                 ...             ...
1592                                      NEW QuizDuel!            3.21
1606  TopQuiz -Play Quiz & Lottery | Win Money via P...            3.20
304                                               모두의마블            3.16
1590                                              스케치퀴즈            3.13
873                  Au Mobile VTC – Game nhảy Audition            3.09

[1730 rows x 2 columns]

In [13]:
df[["title","installs"]].sort_values(by="installs", ascending=False)

                                                  title installs
618   Slots on Tour Casino - Vegas Slot Machine Game...  500.0 k
477                                              Reigns  500.0 k
483                                              三國殺名將傳  500.0 k
1614                                     90's Quiz Game  500.0 k
1621                          Cuanto Sabes de la Biblia  500.0 k
...                                                 ...      ...
899                                     AyoDance Mobile    1.0 M
898                                Real Piano Teacher 2    1.0 M
897                                          Beat Racer    1.0 M
895                                     Lost in Harmony    1.0 M
865                                         Rhythm Hive    1.0 M

[1730 rows x 2 columns]